{{#if settings.isRancher}}
  <div class="logo-text">
    <div class="parachute"></div>
  </div>
{{/if}}

<table align="center" class="fixed no-lines text-center">
  <tr>
    <th class="col-md-6 hidden-xs hidden-sm" style="border-bottom: 1px solid #eff2f6;">{{t 'modalAboutComponent.component'}}</th>
    <th class="col-md-6 hidden-xs hidden-sm" style="border-bottom: 1px solid #eff2f6;">{{t 'modalAboutComponent.version'}}</th>
  </tr>

  {{#if settings.rancherVersion}}
    <tr>
      <td data-title="{{t 'modalAboutComponent.component'}}"><a href="https://github.com/PastureStack/server" target="_blank" rel="noopener noreferrer">{{settings.appName}}</a></td>
      <td data-title="{{t 'modalAboutComponent.version'}}">{{settings.rancherVersion}}</td>
    </tr>
  {{/if}}
  {{#if settings.cattleVersion}}
    <tr>
      <td data-title="{{t 'modalAboutComponent.component'}}"><a href="https://github.com/PastureStack/orchestration-engine" target="_blank" rel="noopener noreferrer">{{t 'modalAboutComponent.cattle'}}</a></td>
      <td data-title="{{t 'modalAboutComponent.version'}}">{{settings.cattleVersion}}</td>
    </tr>
  {{/if}}
  {{#if settings.uiVersion}}
    <tr>
      <td data-title="{{t 'modalAboutComponent.component'}}"><a href="https://github.com/PastureStack/web-console" target="_blank" rel="noopener noreferrer">{{t 'modalAboutComponent.ui'}}</a></td>
      <td data-title="{{t 'modalAboutComponent.version'}}">{{settings.uiVersion}}</td>
    </tr>
  {{/if}}
  {{#if settings.cliVersion}}
    <tr>
      <td data-title="{{t 'modalAboutComponent.component'}}"><a href="https://github.com/PastureStack/cli" target="_blank" rel="noopener noreferrer">{{settings.appName}} {{t 'modalAboutComponent.cli'}}</a></td>
      <td data-title="{{t 'modalAboutComponent.version'}}">{{settings.cliVersion}}</td>
    </tr>
  {{/if}}
  {{#if settings.composeVersion}}
    <tr>
      <td data-title="{{t 'modalAboutComponent.component'}}"><a href="https://github.com/PastureStack/compose-cli" target="_blank" rel="noopener noreferrer">{{settings.appName}} {{t 'modalAboutComponent.compose'}}</a></td>
      <td data-title="{{t 'modalAboutComponent.version'}}">{{settings.composeVersion}}</td>
    </tr>
  {{/if}}
  {{#if settings.goMachineVersion}}
    <tr>
      <td data-title="{{t 'modalAboutComponent.component'}}"><a href="https://github.com/PastureStack/host-provisioner" target="_blank" rel="noopener noreferrer">{{t 'modalAboutComponent.machineService'}}</a></td>
      <td data-title="{{t 'modalAboutComponent.version'}}">
        {{settings.goMachineVersion}}
        {{#if settings.dockerMachineVersion}}
          (<a href="https://github.com/docker/machine" target="_blank" rel="noopener noreferrer">{{t 'modalAboutComponent.dockerMachine'}}</a> {{settings.dockerMachineVersion}})
        {{/if}}
      </td>
    </tr>
  {{/if}}
</table>

<div class="footer-actions">
<button {{action "cancel"}} class="btn btn-primary">{{t 'generic.closeModal'}}</button>
</div>
