<section class="header clearfix">
  <h1>{{t 'helpPage.header'}}</h1>
</section>

<section>
  <div class="flex-wrap">
    <div class="flex-item-third">
      <div class="flex-content well">
        <h3>{{t 'helpPage.environment.header'}}</h3>
        <hr/>
        {{format-html-message 'helpPage.environment.content' appName=settings.appName}}
        {{#link-to 'settings.projects' class="btn btn-primary right-divider-btn"}} {{t 'helpPage.environment.manageLink'}} {{/link-to}}
      </div>
    </div>

    <div class="flex-item-third">
      <div class="flex-content well">
        <h3>{{t 'helpPage.host.header'}}</h3>
        <hr/>
        <p>{{t 'helpPage.host.content' appName=settings.appName}} <a href="{{docsLink}}/hosts/" target="_blank" rel="noopener noreferrer">{{t 'helpPage.host.contentLink'}}</a></p>
        {{#link-to "hosts.new" class="btn btn-primary"}}{{t 'helpPage.host.addHostLink'}}{{/link-to}}
      </div>
    </div>

    <div class="flex-item-third">
      <div class="flex-content well">
        <h3>{{t 'helpPage.stacks.header'}}</h3>
        <hr/>
        <p>{{t 'helpPage.stacks.content.paragraph1' appName=settings.appName}}</p>

        <p>{{t 'helpPage.stacks.content.paragraph2' appName=settings.appName}} <a href="{{docsLink}}/services/" target="_blank" rel="noopener noreferrer">{{t 'helpPage.stacks.content.link'}}</a></p>

        {{#if hasHosts}}
          {{#link-to "applications-tab" class="btn btn-primary r-mb10"}} {{t 'helpPage.stacks.addServiceLink'}}{{/link-to}}
          {{#link-to "catalog-tab" class="btn btn-primary"}} {{t 'helpPage.stacks.addCatalogLink'}}{{/link-to}}
        {{else}}
          <div class="alert alert-danger">{{t 'helpPage.stacks.noHosts'}}</div>
          {{#link-to "applications-tab" class="btn btn-primary r-mb10" disabled=true}}{{t 'helpPage.stacks.manageServiceLink'}}{{/link-to}}
          {{#link-to "catalog-tab" class="btn btn-primary" disabled=true}}{{t 'helpPage.stacks.addCatalogLink'}}{{/link-to}}
        {{/if}}
      </div>
    </div>
  </div>
</section>

<section class="well">
    <div class="header">
      <h3>{{t 'helpPage.issues.header.text'}}</h3>
      <div class="pull-right r-mb20">
        {{t 'helpPage.issues.header.tagline'}} <a href="{{settings.issueUrl}}" class="btn btn-primary r-ml10" target="_blank" rel="noopener noreferrer">{{t 'helpPage.issues.header.fileBug'}}</a>
      </div>
    </div>

    <hr/>

    <div class="row">
      <p class="text-center col-sm-12 col-md-8 col-md-offset-2">{{t 'helpPage.issues.content.paragraph1' appName=settings.appName}}</p>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-4 text-center">
        <a href="{{settings.issueUrl}}" target="_blank" rel="noopener noreferrer"><img src="{{app.baseAssets}}assets/images/help-bug.svg" width="50%" alt="{{t 'helpPage.issues.content.graphic1.link'}}" /></a>
        <p>
          {{t 'helpPage.issues.content.graphic1.text'}}
          <br/>
          <a href="{{settings.issueUrl}}" target="_blank" rel="noopener noreferrer">{{t 'helpPage.issues.content.graphic1.link'}}</a>
        </p>
      </div>

      <div class="col-sm-12 col-md-4 text-center">
        <a href="{{docsLink}}" target="_blank" rel="noopener noreferrer"><img src="{{app.baseAssets}}assets/images/help-docs.svg" width="50%" alt="{{t 'pageFooter.documentation'}}" /></a>
        <p>
          {{t 'helpPage.issues.content.graphic2.text'}}
          <br/>
          <a href="{{docsLink}}" target="_blank" rel="noopener noreferrer">{{t 'pageFooter.documentation'}}</a>
        </p>
      </div>

      <div class="col-sm-12 col-md-4 text-center">
        <a href="{{docsLink}}/faqs/" target="_blank" rel="noopener noreferrer"><img src="{{app.baseAssets}}assets/images/help-troubleshoot.svg" width="50%" alt="{{t 'helpPage.issues.content.graphic3.link'}}" /></a>
        <p>
          {{t 'helpPage.issues.content.graphic3.text'}}
          <br/><a href="{{docsLink}}/faqs/" target="_blank" rel="noopener noreferrer">{{t 'helpPage.issues.content.graphic3.link'}}</a>
        </p>
      </div>
    </div>

</section>

